        @font-face {
          font-family: 'iconfont';  /* project id 988730 */
          src: url('//at.alicdn.com/t/font_988730_wvws94m5jf.eot');
          src: url('//at.alicdn.com/t/font_988730_wvws94m5jf.eot?#iefix') format('embedded-opentype'),
          url('//at.alicdn.com/t/font_988730_wvws94m5jf.woff2') format('woff2'),
          url('//at.alicdn.com/t/font_988730_wvws94m5jf.woff') format('woff'),
          url('//at.alicdn.com/t/font_988730_wvws94m5jf.ttf') format('truetype'),
          url('//at.alicdn.com/t/font_988730_wvws94m5jf.svg#iconfont') format('svg');
        }
        .icon-font{
            font-family:"iconfont" !important;
            font-size:16px;font-style:normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
        }
       #dks {
            width: 25%;
            height: 300px;
       }

        .edge {
            stroke-width: 3;
        }

        .edge-control {
            stroke: yellow;
        }


        .edge-investment {
            stroke: #0f0;
        }

        .edge-transaction {
            stroke: black;
        }

        .edge-family {
            stroke: red;
        }

        #debug {
            float: right;
            width: 30%;
            height: 400px;
            background: black;
            color: white;
        }

        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .node .selected {
            stroke: black;
        }

        .link {
            stroke: #999;
        }

        .brush .extent {
            fill-opacity: .1;
            stroke: #fff;
            shape-rendering: crispEdges;
        }
        .header{

        }
        .main_left{
            width: 25%;
            height: 500px;
            float: left;
        }
        .main_view{
            width: 50%;
            height: 500px;
            float: left;
        }
        .main_right{
            width: 25%;
            height: 500px;
            float: left;
        }
