body,hr,p,header,div{
    margin: 0px;
    padding: 0px;
}
#overview,#filter,#pattern_def,#pattern_list,#detail_info,#criteria{
    border: gray 1px solid;
    display: block;
    float: left;
}
body{
    border: gray 1px solid;
    width: 100%;
    height: 1810px;
}
header{
    margin: 10px;
    height: 30px;
    font-size: 2em;
}
.content{
    width: 100%;
    height: 100%;
}
#overview{
    display: block;
    float: left;
    width: 50%;
    height: 50%;
}

#filter{
    display: block;
    float: left;
    width: 50%;
    height: 46.6%;
}

#pattern_list{
    width: 50%;
    height: 20%;
}

#pattern_def{
    width: 30%;
    height: 30%;
}

#criteria{
    width: 20%;
    height: 30%;
}

#detail_info{
    width: 50%;
    height: 46.6%;
    float: right;
}