<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network visualization</title>
    <!--<script src="../static/js/d3.min.js"></script>-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/render_pattern_list.js"></script>
    <script type="text/javascript" src="../static/js/overview.js"></script>
    <script type="text/javascript" src="../static/js/pattern_define.js"></script>
    <script type="text/javascript" src="../static/js/filter.js"></script>
    <script type="text/javascript" src="../static/js/criteria.js"></script>
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/detail_info.css" rel="stylesheet">
    <link href="../static/css/filter.css" rel="stylesheet">
    <link href="../static/css/overview.css" rel="stylesheet">
    <link href="../static/css/pattern_list.css" rel="stylesheet">
    <link href="../static/css/pattern_filter.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<header>&nbsp;&nbsp;Tax DG</header>
<!--<hr />-->
<div class="content">
    <div id="overview">
        <button onclick="filterByGroup(0)">返回</button>
        <button onclick="filterByGroup(1)">筛选组1-6</button>
        <button onclick="filterByGroup(2)">筛选组7-10</button>
    </div>
    <div id="pattern_list">


    </div>
    <div id="pattern_def">


    </div>
    <div id="criteria">

    </div>
    <div id="detail_info">

    </div>
    <div id="filter">
        <!--<div id="filter_1">-->

        <!--</div>-->
        <!--<div id="filter_2">-->

        <!--</div>-->
        <!--<div id="filter_3">-->

        <!--</div>-->
        <!--<div id="filter_4">-->

        <!--</div>-->
    </div>
</div>
</body>
</html>