<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page of LNN</title>
    <script src="https://cdn.bootcss.com/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/render_pattern_list.js"></script>
    <script type="text/javascript" src="../static/js/pattern_define.js"></script>
    <script type="text/javascript" src="../static/js/overview.js"></script>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tax DG</h1>
<!--</div>-->
    <div align='center' id="d3_selectable_force_directed_graph"></div>
    <div class="main_left" id="pattern_list">
        <!--{% if result!=NULL %}-->
        <!--&lt;!&ndash;<span>{{result}}</span>&ndash;&gt;-->
        <!--{% for r in result.rs %}-->
        <!--{% for variable in r%}-->
            <!--{% if variable[0] == "n" %}-->
                <!--<span>{{r.variable}}</span>-->
            <!--{% endif %}-->
            <!--{% if variable[0] == "r" %}-->
                <!--<span>{{r.variable}}</span>-->
            <!--{% endif %}-->
        <!--{% endfor%}-->
        <!--{% endfor%}-->
        <!--{% endif%}-->
    </div>
    <div class="main_view" id="center_view">
    </div>
    <div class="pattern_define" id="wrapper">
        <div id="tools">
            <button id="btn-add-person" onclick="switch_mode(0);"><i class="icon-font">&#xe645;</i></button>
            <button id="btn-add-company" onclick="switch_mode(1);"><i class="icon-font">&#xe62e;</i>Company</button>
            <button id="btn-add-transaction" onclick="switch_mode(2);"><i class="icon-font">&#xe67f;</i> Transaction</button>
            <button id="btn-add-control" onclick="switch_mode(3);"><i class="icon-font">&#xe637;</i> Control</button>
            <button id="btn-add-investment" onclick="switch_mode(4);"><i class="icon-font">&#xe618;</i> Investment</button>
            <button id="btn-add-kinship" onclick="switch_mode(5);"><i class="icon-font">&#xe62d;</i>  Kinship</button>
            <button id="btn-delete" onclick="switch_mode(7);"><span class="glyphicon glyphicon-trash"></span></button>
            <button id="btn-preserve" onclick="preserve_pattern();"><i class="icon-font">&#xe845;</i></button>
            <button id="btn-submit" onclick="generate_query();">Submit</button>
        </div>
        <svg id="dks" onclick="add_person();">
            <defs>
                <marker id="transaction-arrow" markerWidth="10" markerHeight="10" refx="0" refy="3" orient="auto"
                        markerUnits="strokeWidth">
                    <path d="M0,0 L0,6 L9,3 z" fill="#000"/>
                </marker>
                <marker id="investment-arrow" markerWidth='10' markerHeight='10' refx='2' refy='6' orient='auto'>
                    <path d='M2,2 L2,11 L10,6 L2,2' style='fill:#00ff00'/>
                </marker>
                <marker id="family-arrow" markerWidth="10" markerHeight="10" refx="0" refy="3" orient="auto"
                        markerUnits="strokeWidth">
                    <path d="M0,0 L0,6 L9,3 z" fill="#f00"/>
                </marker>
                <marker id="control-arrow" markerWidth="10" markerHeight="10" refx="0" refy="3" orient="auto"
                        markerUnits="strokeWidth">
                    <path d="M0,0 L0,6 L9,3 z" fill="#ff0"/>
                </marker>
                 <!--var arrowMarker = defs.append("marker")-->
            <!--.attr("id", "arrow")-->
            <!--.attr("markerUnits", "strokeWidth")-->
            <!--.attr("markerWidth", "12")-->
            <!--.attr("markerHeight", "12")-->
            <!--.attr("viewBox", "0 0 12 12")-->
            <!--.attr("refX", "6")-->
            <!--.attr("refY", "6")-->
            <!--.attr("orient", "auto");-->
        <!--var arrow_path = "M2,2 L10,6 L2,10 L6,6 L2,2";-->
            </defs>
        </svg>
    </div>
    <div id="block2">
    </div>
    <div id="debug"></div>

</body>
<script type="text/javascript" src="../static/js/(version2)nav.js"></script>
<!--<script type="text/javascript" src="../static/js/(version2)nav.js"></script>-->

<script type="text/javascript" src="../static/js/(version2)centerView.js"></script>

</html>